<% if logged_in? %>
  <a href="/" class="main"><%= mac?? 'â†' : '<' %> Back to My Lists</a>
<% end %>

<ol id="about">

  <li>
    <h2>About the app</h2>
    <p>I made this little app to serve my to-do needs. It's built with:</p>
    <ul>
      <li>Ruby, Rails 3.1</li>
      <li>jQuery, jQuery UI, CoffeeScript</li>
      <li>HTML5, CSS3</li>
    </ul>
  </li>

  <li>
    <h2>Yet another to-do list?</h2>
    <ul>
      <li>All your tasks in one place.</li>
      <li>Simple, yet organized.</li>
      <li>Web app. Looks great on your mobile device.</li>
      <li>Free &amp; <a href="https://github.com/ivana/todofrenzy">opensource</a>.</li>
    </ul>
  </li>

  <li class="vcard">
    <h2>Like it?</h2>
    <p>
      My name is <span class="fn n"><span class="given-name">Ivana</span> <span class="family-name">Vasilj</span></span>.
      Find me on:
    </p>
    <ul>
      <li>twitter as <a rel="me" class="url" href="http://twitter.com/ivanavasilj">@ivanavasilj</a></li>
      <li><a rel="me" class="url" href="http://ivana.im/">ivana.im</a> &ndash; my home site and blog</li>
    </ul>
    <p>Drop me a line if you find Todas Listas useful!</p>
  </li>

</ol>
