<% if logged_in? %>
  <a href="/" class="main"><%= mac?? 'â†' : '<' %> Back to My Lists</a>
<% end %>

<ol id="about">

  <li>
    <h2>Why yet another to-do list?</h2>
    <ul>
      <li>All tasks on one page, grouped &amp; compact</li>
      <li>Simple</li>
      <li>Web app</li>
      <li>iPhone friendly</li>
      <li>Free</li>
    </ul>
  </li>

  <li class="vcard">
    <h2>About</h2>
    <p>
      My name is <span class="fn n"><span class="given-name">Ivana</span> <span class="family-name">Vasilj</span></span>.
      Find me on:
    </p>
    <ul>
      <li>twitter as <a rel="me" class="url" href="http://twitter.com/ivanavasilj">@ivanavasilj</a></li>
      <li><a rel="me" class="url" href="http://ivana.im/">ivana.im</a> &ndash; my home site and blog</li>    </ul>
    <p>
      I made this little app to suit my todo list needs, start learning Rails, and play with HTML5 and CSS3.
      Find it useful? Great, let me know!
    </p>
  </li>

  <li>
    <h2>Browsers</h2>
    <p>I expect this to work fine in Firefox, Safari and Chrome. I don't plan to test with other browsers.</p>
  </li>

  <li>
    <h2>Thanks</h2>
    <p>to <a href="http://twitter.com/mislav">@mislav</a> for his numerous contributions.</p>
  </li>

</ol>
