<% if logged_in? %>
  <a href="/" class="main">&lt;&lt; Back to My Lists</a>
<% end %>

<ol id="about">

  <li>
    <h2>Why yet another to-do list?</h2>
    <ul>
      <li>All todos on one page</li>
      <li>Simple</li>
      <li>Web app</li>
      <li>Free</li>
    </ul>
  </li>

  <li class="vcard">
    <h2>About</h2>
    <p>
      My name is <span class="fn n"><span class="given-name">Ivana</span> <span class="family-name">Vasilj</span></span>.
      Find me on:
    </p>
    <ul>
      <li>Twitter as <a rel="me" class="url" href="http://twitter.com/ivanavasilj">@ivanavasilj</a></li>
      <li><a rel="me" class="url" href="http://ivana.github.com/">Monochrome daydreaming</a>, my home site and blog</li>
    </ul>
    <p>This was a cool little project for me to start learning Rails, and also to play with HTML5 and CSS3. If more people find it useful, great!</p>
  </li>

  <li>
    <h2>Thanks</h2>
    <p>
      <a href="http://twitter.com/mislav">@mislav</a> for
      <a href="http://github.com/mislav/twitter-login">Twitter login</a>
      and logo design
    </p>
  </li>

  <li>
  <h2>Browsers</h2>
  <p>I expect this to work fine in Firefox, Chrome and Safari. I don't plan to test in other browsers.</p>
  </li>

</ol>
