<% if logged_in? %>
  <a href="/" class="main">&lt;&lt; Back to My Lists</a>
<% end %>

<ol id="about">

  <li>
    <h2>Why yet another to-do list?</h2>
    <ul>
      <li>All todos on one page</li>
      <li>Simple</li>
      <li>Web app</li>
      <li>Free</li>
    </ul>
  </li>

  <li>
    <h2>Coming soon</h2>
    <ul>
      <li>Reorder lists</li>
      <li>Reorder tasks (priorities)</li>
      <li>Collapse list</li>
      <li>Facebook login</li>
      <li>Progressive enhancement</li>
    </ul>
  </li>

  <li>
    <h2>Browsers</h2>
    <p>I expect this to work fine in Firefox, Chrome and Safari. I don't plan to test others.</p>
  </li>

  <li>
    <h2>About</h2>
    <p>
      My name is Ivana Vasilj, I'm a web developer.
      You can find me on Twitter as <a href="http://twitter.com/ivanavasilj">@ivanavasilj</a>.
    </p>
    <p>This was a cool little project for me to start learning Rails. If more people find it useful, great!</p>
  </li>

</ol>
