<ol>
  <% for list in @lists %>

    <li>
      <h2><%= list.name %></h2>

      <ol>
        <% for item in list.items %>
          <li><%= item.description %></li>
        <% end %>
      </ol>
    </li>

  <% end %>
</ol>