<ol>
  <% for list in @lists %>

    <li id="<%= dom_id(list) %>">
      <h2><%= list.name %></h2>

      <ol class="actions">
        <li><a class="new-item" href="#">New item</a></li>
        <li><a class="edit" href="#">Edit list</a></li> <!-- edit only name for start, later incl items -->
        <li><%= link_to 'Delete list', todo_list_path(:id => list.id), :class => 'del' %></li>
      </ol>

      <ol class="items">
        <% for item in list.items %>
          <li><%= item.description %></li>
        <% end %>
      </ol>
    </li>

  <% end %>
</ol>