@font-face { font-family:ArtBrush; src:url("../fonts/Artbrush.ttf") }

* {
  vertical-align:baseline;
  padding:0; margin:0;
}

body {
  font:62.5% Arial, Helvetica, sans-serif;
  margin:3em 0 0 3em;
  background:whitesmoke; color:#555;
}
  body > * { font-size:1.2em }

/* headings */
h1, h2 { font-family:Artbrush, "Trebuchet MS", Verdana, sans-serif }
h1 {
  font-size:5em;
  margin:0 .8em .4em 0;
  float:right;
}
h2 { font-size:2em; margin-bottom:.25em; text-decoration:underline }

/* anchors */
h1 + a {
  margin:.4em 0;
  font-size:1.4em !important;
  float:left;
}
  h1 + a .ui-icon { left:3% }

/* lists */
ol, ul { list-style-position: inside }
body > ol { list-style:none }
  body > ol > li {
    border:1px solid; padding:1em;
    margin:0 2.4em 1em 0; width:20.5%;
    float:left; clear:right;
  }
h2 + ol { line-height:1.5em }

/* forms */
form#new_todo_list { padding:.7em 0; display:none }
  form#new_todo_list label, #new_todo_list input { vertical-align:middle }
  form#new_todo_list label { font-size:1.2em }
  input#todo_list_name { font-size:1.4em; margin-right:.2em }
  input#todo_list_name ~ input { font-size:1em }
