header, footer, nav { display:block }

*::-moz-selection { background:sandybrown }
*::selection { background:sandybrown }

body {
  font:62.5% Arial, Helvetica, sans-serif;
  background:ivory; color:#4C3000;
  margin:1em auto;
  max-width:115em;
}
  body > * { font-size:1.2em }

nav { float:right; margin-right:2em; text-align:right; width:30%; }

footer {
  clear:left; padding-top:2em; text-align:center;
  color:#BEB4A2;
}
  footer * { display:inline; }
  footer h1 { font:inherit; margin-right:1.2em; }
  footer dt { font-weight:bold; }
  footer dd { margin:0 1.2em 0 .5em; }

/* headings */
header h1 {
  font: italic normal 4em "times new roman", serif;
  margin:0 0 -0.8em 0.5em;
  width:265px;
}
  h1 a { color:inherit }
  h1 img { border:none; max-width: 260px; display: block; }
h2 {
  font:italic 500 1.8em/1.1 didot, "times new roman", georgia, serif;
  color:#4c3000;
  margin:-.2em 0 .4em; width:82%;
  float:left;
}
/* anchors, buttons */
a { text-decoration:none }

.actions a, a.main, input[type="submit"], input[type="button"] {
  color:ivory;
  border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
}

input[type="submit"], input[type="button"] { font-size:1em; cursor:pointer }
input[type="submit"] { padding:.35em .5em; background:chocolate; border:0 none }
input[type="button"] { padding:.2em .4em; background:sandybrown; border:0 none }

a.main, form#new_todo_list {  
  margin:0 auto;
  position:relative; top:12px;
}

a.main {
  text-align:center;
  background:chocolate;
  box-shadow:1px 0 2px #555; -moz-box-shadow:1px 0 2px #555; -webkit-box-shadow:1px 0 2px #555;
  font-size:1.4em; display:block; width:9em;
  height:16px; padding:5px 1em;
}

a.main:hover, a.main:focus, a.main:active { background:#4c3000 }

.actions a {
  display:block;
  line-height:1.6em; text-align:center;
  font-size:1.4em; text-decoration:none;
  background-color:#F7D7B4;
  margin-bottom:2px;
}
.actions a.new { color:#4c3000; font-size:1.7em; line-height:1.4em }
.actions a.delete { color:chocolate }
.actions a.clear { color:goldenrod; display:none; }
.has-done .actions a.clear { display:block; }

.no-touch .actions a:hover, .no-touch .actions a:focus, .no-touch .actions a:active,
.no-touch input[type="submit"]:hover, .no-touch input[type="submit"]:focus, .no-touch input[type="submit"]:active,
.no-touch input[type="button"]:hover, .no-touch input[type="button"]:focus, .no-touch input[type="button"]:active {
  background:#4c3000; color:ivory;
}

nav a, #about a { color:#4C3000 }
nav a:hover, #about a:hover { text-decoration:underline }

/* lists */
ol, ul { list-style-position: inside }
body > ol, ol.actions, nav ol, ul.items { list-style:none; margin: 0; padding: 0; }
body > ol > li, ol.actions > li, nav > ol > li, ul.items > li { margin: 0; }

nav li {
  display:inline;
  border-left:1px solid; padding:0 .4em 0 .6em;
}
nav li:first-child { border-left:0 none }

body > ol { margin-top:4em }
  body > ol > li {
    border:1px solid wheat; background:papayawhip;
    border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
    box-shadow:1px -1px 3px rgba(120, 120, 120, 0.5);
    -moz-box-shadow:1px -1px 3px rgba(120, 120, 120, 0.5);
    -webkit-box-shadow:1px -1px 3px rgba(120, 120, 120, 0.5);
    margin:0 0 1em 2.2em;
    padding:1em; width:19em;
    float:left;
  }

ol.actions { float:right; width:12%; margin-left:1em }

ul.items {
  list-style:none;
  line-height:1.7em;
  clear:left;
}
ul.items .done label span { color:#BEB4A2; }

/* forms */
.no-iphone input[type="text"] { border:2px solid chocolate }
.no-touch input[type="text"]:focus {
  box-shadow:0 0 5px chocolate; -moz-box-shadow:0 0 5px chocolate; -webkit-box-shadow:0 0 5px chocolate;
  outline:0;
}

form#new_todo_list { display:none; width:34em; height:26px; }
  form#new_todo_list label, #new_todo_list input { vertical-align:middle }
  form#new_todo_list label { font-size:1.2em; visibility:hidden }
  input#todo_list_name { font-size:1.4em; margin:0 .2em; width:12em }

form#new_item { display:none; margin:1em 0 }
  form#new_item label { display:none }
  input#item_description { font-size:1.1em; width:80%; margin-bottom:.5em; }

/* about */
#about h2 { float:none }
#about ul { line-height:1.3em; list-style:disc outside; margin:.5em 0 0 1em; padding-left: .3em; }
#about p { margin-top:.5em }
#about a { text-decoration:underline }
#about a:hover { text-decoration:none }

/* mobile */
@media only screen and (max-device-width:480px) {
  
  body { font-size:small; margin:10px 0 0 0; padding-bottom: 25px; position: relative; }
    body > * { font-size: 1em; }
    body > ol { margin-top:12px }
      body > ol > li { float:none; clear: both; width:auto; margin:12px; padding:9px; }
  
  header { float:left; width:203px; margin:0 0 15px; padding:0 0 0 12px; }
    header h1 { margin:0; padding:0; font-size:1em; }
    h1 img { width: 197px; height: 28px; display: block; }
  h2 { font-size:1.5em; width: auto; margin: 0 0 .4em; }
  
  nav {
    position:absolute; right:12px; bottom:0;
    width:290px; margin:0; padding:6px 0;
    text-align:right;
    font-size:10px; text-transform:uppercase;
  }
  nav a:link, nav a:visited { color:inherit; }
  
  footer { display:none; }
  
  a.main, form#new_todo_list { position:static; }
  
  a.main {
    width:10em; height:18px; padding:5px .6em; clear:left;
    font-size:1.1em; font-weight: bold;
    text-shadow:1px 1px 1px rgba(0,0,0,.2);
  }
  a.create { width:60px; float:right; margin:0 12px 0 0; clear:none; }
  
  a.main, body > ol > li { -webkit-box-shadow: none; }
  input[type="submit"], input[type="button"] {
    font-size:12px; padding:.3em .4em; margin:0;
    background-color:silver; color:#222;
    border: 1px solid silver;
  }
  input[type="button"] { color: #666; }
  
  #about a { text-decoration:none; font-weight:bold }
  
  .todo_list { overflow:hidden }
  ol.actions { width:40px; margin-left:10px; }
  ol.actions a { font-size:1.3em; margin-bottom:3px; line-height:40px; }
  ol.actions li:last-child a { margin-bottom:0; }
  ol.actions a.new { font-size:1.5em; line-height:40px }
  
  ul.items { line-height:1; font-size: 1.1em; }
  ul.items > li { margin-left:23px; margin-top: .2em; }
  ul.items input[type=checkbox] { margin-left:-23px; }
  
  form#new_item input#item_description { width:75%; margin-bottom:.3em; }
  .iphone form#new_item input#item_description { margin-bottom:0; }
  .iphone form#new_item input[type="submit"], .iphone form#new_item input[type="button"] { display: none; }
  
  form#new_todo_list { margin:0; padding:0 15px; width:auto; height:auto; }
    form#new_todo_list label { display:none }
    input#todo_list_name { width:272px; font-size:1.1em; margin:0 0 .3em; }
}
