<li>
  <% form_tag({:controller => 'items'}, {:id => dom_id(item)} ) do %>
    <div>

      <%= check_box_tag 'done', true, item.done, :id => "#{dom_id(item)}_done" %>
      <%= label_tag "#{dom_id(item)}_done", item.description, :class => item.done ? 'done' : '' %>

      <input type="hidden" name="id" value="<%= item.id %>">
    </div>
  <% end %>
</li>
