<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="author" lang="hr" content="Ivana Vasilj, ivasilj@gmail.com">
    <title>Todas Listas</title>

    <%= stylesheet_link_tag "style" %>
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <meta name="description" content="Todas Listas - view all your todos at once. A simple and free online todo list. Lists all your todos on a same page.">
    <meta name="keywords"
          content="free simple online todo list, free online todo list manager, simple web based todolist app,
          free ajax to do list, all lists on one page, all tasks in one place, simple tasks webapp,
          todas listas, todaslistas">

    <meta name="google-site-verification" content="MsnXE0MdO1751wU2U6RCk5kHmoIwaVHuUmBZK3twzmE">
  </head>

  <body>
    <header>
      <h1><img src="/images/logo.png" alt="Todas Listas"></h1>

    <% if logged_in? %>
      <nav>
        <ol>
          <li><a href="/about">About</a></li>
          <li><a href="/">My Lists</a></li>
          <li><a href="/logout">Sign out <strong>@<%= current_user.username %></strong></a></li>
        </ol>
      </nav>
    <% end %>
    </header>
    
    <% unless logged_in? %>
    <ul class="main">
      <li><a href="/login">Sign in with Twitter</a></li>
      <li><a href="/fblogin">Sign in with Facebook</a></li>
    </ul>
    <% end %>

    <%= yield %>
  
    <%= javascript_include_tag "jquery-1.4.2.min", "rails", "todo-lists", "items", :cache => true %>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-5355510-2");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
      
  </body>
</html>
