<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ToDo Frenzy</title>
    <%= stylesheet_link_tag "style" %>
  </head>

  <body>
    <h1>ToDo Frenzy</h1>

    <%= yield %>
  </body>
</html>
