<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ToDo Frenzy</title>
    <%= stylesheet_link_tag "style" %>
  </head>

  <body>
    <h1>ToDo Frenzy</h1>

    <%= yield %>

    <div style="width:5em; height:5em; background:crimson; margin-top:2em"></div>
    <div style="width:5em; height:5em; background:#DD5511"></div>
    <div style="width:5em; height:5em; background:green"></div>
    <div style="width:5em; height:5em; background:#205BAB"></div>
    <div style="width:5em; height:5em; background:purple"></div>
    <div style="width:5em; height:5em; background:dimgray"></div>
  </body>
</html>
